.header-carousel , .contact-us{
    background-color: #FCEBE9;
}
.header-btn{
    background-color: #FF5196;
    
}
.shoes-button{
    background-color: #FF5196;
    
}


@media screen and (max-width: 992px) {
    .responsive{
        text-align:center;
        margin-top: 50px;
    }
    .responsive p{
        font-size: 18px;
    }
    .carousel-item img{
        margin-top: 60px;
    }
    
    
}
    